[package]
name = "ethereum_rust-l2"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true
ethereum-types.workspace = true
ethereum_rust-core.workspace = true
ethereum_rust-rlp.workspace = true
ethereum_rust-rpc.workspace = true
ethereum_rust-storage.workspace = true
ethereum_rust-vm.workspace = true
ethereum_rust-blockchain.workspace = true

hex.workspace = true
bytes.workspace = true
jsonwebtoken.workspace = true
sp1-sdk = "2.0.0"

prover-lib = { path = "./prover/sp1/lib" }

# revm
revm = { version = "14.0.3", features = [
    "std",
    "serde",
    "kzg-rs",
], default-features = false }
libsecp256k1 = "0.7.1"
keccak-hash = "0.10.0"
envy = "0.4.2"
thiserror.workspace = true

[lib]
path = "./l2.rs"
