body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    margin-bottom: 1.5em;
}

h1 {
    margin-bottom: 0;
}

.last-updated {
    margin-top: 0.5em;
    font-weight: lighter;
    color: dimgray;
}

.container {
    display: flex;
    gap: 10px;
    width: 90%;
}

.column {
    flex: 1;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

img {
    width: 80%;
    height: auto;
    max-width: 200px;
    max-height: 150px; /* Prevent SVGs from being too tall */
}

h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.col-header {
    margin-bottom: 2em;
}
