name: Assertoor
on:
  pull_request:
    branches: ["**"]
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - "**/README.md"
      - "**/docs/**"
      - "crates/vm/levm/**"
      - "crates/l2/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  RUST_VERSION: 1.80.1

jobs:
  run-assertoor:
    name: Stability Check
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: ethrex_image
          path: /tmp
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Load image
        run: |
          docker load --input /tmp/ethrex_image.tar

      - name: Setup kurtosis testnet and run assertoor tests
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
          kurtosis_version: "1.4.2"
          ethereum_package_url: "github.com/lambdaclass/ethereum-package"
          ethereum_package_branch: "ethrex-integration"
          ethereum_package_args: "./test_data/network_params.yaml"
