name: CI
on:
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  RUST_VERSION: 1.80.1

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Rustup toolchain install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: rustfmt, clippy

      - name: Run cargo check
        run: cargo check

      - name: Run cargo build
        run: |
          cargo build

      - name: Run cargo clippy
        run: |
          cargo clippy --all-targets --all-features --workspace -- -D warnings

      - name: Run cargo fmt
        run: |
          cargo fmt --all -- --check

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Rustup toolchain install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Download test vectors
        run: |
          make download-test-vectors

      - name: Run tests
        run: |
          make test

      - name: Server shuts-down with Ctrl-c.
        run: |
          cargo build --profile=test
          cargo run --profile=test -- --network=test_data/genesis-execution-api.json >> output.txt &
          SLEEP_TIME=30
          echo "Sleeping for $SLEEP_TIME seconds..."
          sleep $SLEEP_TIME
          grep 'Server shutting down' output.txt


  docker-build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          load: true # Important for building without pushing
