name: Daily Hive Coverage

on:
  schedule:
    # Every day at UTC midnight
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  RUST_VERSION: 1.80.1

jobs:
  hive-coverage:
    name: Daily Hive Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull image
        run: |
          docker pull ghcr.io/lambdaclass/ethrex:main

      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Rustup toolchain install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Setup Go
        uses: actions/setup-go@v3

      - name: Run Hive Simulation
        run: make run-hive-on-latest SIMULATION=ethereum/engine
        continue-on-error: true

      - name: Caching
        uses: Swatinem/rust-cache@v2

      - name: Generate the hive report
        id: report
        run: |
          cargo run -p hive_report > results.md

      - name: Post results in summary
        run: |
          echo "# Hive coverage report" >> $GITHUB_STEP_SUMMARY
          cat results.md >> $GITHUB_STEP_SUMMARY

      - name: Post results to slack
        env:
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: sh publish.sh
