name: Weekly LoC

on:
  schedule:
    # Every Friday at midnight
    - cron: "0 0 * * 5"
  workflow_dispatch:

env:
  RUST_VERSION: 1.80.1

jobs:
  loc:
    name: Count ethrex loc and generate report
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Rustup toolchain install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Add Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Generate the loc report
        run: make loc
